body 
{
	margin: 0px;
	background-image: linear-gradient(rgb(123, 23, 123), rgb(234, 34, 234));
	scroll-behavior: smooth;
	font-family: Arial;
}






/* For the nav */

#nav 
{
	height: 50px;
	width: 90%;
	top: 0 !important;
	background-color: rgb(123, 23, 123);
		background-image: linear-gradient(rgb(123, 23, 123), rgb(190, 34, 190));
	position: fixed;
	z-index: 1020;
	border-radius: 0px 0px 50px 20px;
	border: 3px solid rgb(255, 255, 255);
	border-bottom: 8px solid rgb(255, 255, 255);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
	padding-left: 19px;
}

#nav span
{
	margin-left: 10px;
	top: 10px;
	font-size: 21px;
	position: relative;
}

#nav span a
{
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#nav span a:hover
{
	transition: 0.5s;
	text-decoration: none;
	color: rgb(213, 190, 213);
}

#nav span a:active
{
	transition: 0.5s;
	text-decoration: none;
	color: rgb(213, 123, 213);
}








/* For the title-div */

#title-div 
{
	height: 350px;
	width: 100%;

	background-image: linear-gradient(rgb(234, 234, 234), rgb(123, 23, 123));
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex; 
	justify-content: center; 
	align-items: center;

	border-radius: 0px 0px 8px 8px;

	border-bottom: 5px solid rgb(255, 255, 255);
}


/* For the title */

#title
{
	font-size: 45px;
	margin: 0px;
}

#title-around 
{
	text-align: center;

	background-color: rgb(255, 255, 255);
	padding: 8px 10px;

	border-radius: 20px 8px 40px 20px;

	margin: 8px;
	margin-top: 50px;

	border: 3px solid rgb(123, 23, 123);
	border-width: 3px 3px 8px 3px;

}





/* For the under-title */

#under-title 
{
	font-size: 25px;
	margin: 0px;
}

#under-title-around 
{
	text-align: center;

	background-color: rgb(255, 255, 255);
	padding: 4px 5px;

	border-radius: 10px 10px 20px 20px;

	margin: 5px;

	border: 3px solid rgb(123, 23, 123);
	border-width: 3px 3px 8px 3px;

}





/* For the about-div */

#about-div 
{
	background-image: linear-gradient(rgb(234, 34, 234), rgb(123, 23, 123));
	padding: 8px;
	margin: 10px 80px;
	border-radius: 10px;
	color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	border-width: 3px 3px 5px 3px;
}


/* For the about */

#about-item
{
	font-size: 20px;
	margin: 2px;
}


/* For the about-title */

#about-title
{
	font-size: 30px;
	margin: 2px 2px 20px 2px;
	font-weight: bold;
}




/* For the contact-div */

#contact-div 
{
	text-align: center;
	color: rgb(255, 255, 255);
}


/* For the contact-div */

#contact-title 
{
	font-size: 35px;
	font-weight: bold;
	margin: 20px 5px 5px 5px;
}


/* For the contact-item */

#contact-item 
{
	font-size: 19px;
	margin: 20px 5px 5px 5px;
}





/* For the separator */

hr 
{
	border: 3px solid rgb(255, 255, 255); 
	text-align: center; 
	width: 98.5% !important; 
	border-radius: 3px; 	
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}


@media only screen and (max-width: 500px)
{
	#title 
	{
		font-size: 35px;
	}

	#under-title 
	{
		font-size: 15px;
	}

	#about-div 
	{
		margin: 10px !important;
	}
}
